*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
#Navbar{
    width: 100%;
    color: rgb(100, 100, 204);
    height: 70px;
    border: 2px solid rgb(171, 171, 221);
    box-shadow: 1px 4px 12px 10px rgba(15, 13, 13, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Navbar>div:nth-child(1){
    width: 40%;
    display: flex;
    justify-content: space-evenly;

}
#Navbar>div:nth-child(2){
    width: 23%;
    display: flex;
    justify-content: space-evenly;

}